src/test/resources/org/apache/servicemix/jms/HelloWorld-RPC.wsdl

<?xml version="1.0"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<definitions name="Hello"
        targetNamespace="uri:HelloWorld"
        xmlns:tns="uri:HelloWorld"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <schema targetNamespace="uri:HelloWorld"
                xmlns="http://www.w3.org/2000/10/XMLSchema">
            <element name="HelloHeader1">
                <complexType>
                    <all>
                        <element name="id1" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="HelloHeader2">
                <complexType>
                    <all>
                        <element name="id2" type="string"/>
                    </all>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="HelloRequest">
        <part name="header1" element="tns:HelloHeader1"/>
        <part name="header2" element="tns:HelloHeader2"/>
        <part name="param1" type="xsd:string"/>
        <part name="param2" type="xsd:int"/>
    </message>

    <message name="HelloResponse">
        <part name="text" type="xsd:string"/>
    </message>

    <portType name="HelloPortType">
        <operation name="Hello">
            <input message="tns:HelloRequest"/>
            <output message="tns:HelloResponse"/>
        </operation>
    </portType>

    <binding name="HelloSoapBinding" type="tns:HelloPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Hello">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="param1 param2" namespace="uri:HelloWorld"/>
                <soap:header use="literal" message="tns:HelloRequest" part="header1"/>
                <soap:header use="literal" message="tns:HelloRequest" part="header2"/>
            </input>
            <output>
                <soap:body use="literal" parts="text" namespace="uri:HelloWorld"/>
            </output>
        </operation>
    </binding>

    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloSoapBinding">
            <soap:address location="http://localhost:8080/hello"/>
        </port>
    </service>

</definitions>
