src/main/resources/org/apache/servicemix/wsn/wsn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServiceMix-WS-BrokeredNotification"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2"
	xmlns:wsn-brw="http://docs.oasis-open.org/wsn/brw-2"
	xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2"
	xmlns:wsn-bw="http://docs.oasis-open.org/wsn/bw-2"
	xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
	xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
	xmlns:tns="http://servicemix.apache.org/wsn/jaxws"
	targetNamespace="http://servicemix.apache.org/wsn/jaxws">

	<wsdl:import namespace="http://docs.oasis-open.org/wsn/brw-2"
		location="brw-2.wsdl">
	</wsdl:import>

	<wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2"
		location="bw-2.wsdl">
	</wsdl:import>

	<wsdl:binding name="NotificationConsumerJBI"
		type="wsn-bw:NotificationConsumer">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Notify">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NotificationConsumerService">
		<wsdl:port name="JBI" binding="tns:NotificationConsumerJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:binding name="NotificationProducerJBI"
		type="wsn-bw:NotificationProducer">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Subscribe">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidFilterFault">
				<soap:fault use="literal" name="InvalidFilterFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicExpressionDialectUnknownFault">
				<soap:fault use="literal"
					name="TopicExpressionDialectUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<soap:fault use="literal"
					name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<soap:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault
				name="InvalidProducerPropertiesExpressionFault">
				<soap:fault use="literal"
					name="InvalidProducerPropertiesExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidMessageContentExpressionFault">
				<soap:fault use="literal"
					name="InvalidMessageContentExpressionFault" />
			</wsdl:fault>
			<wsdl:fault
				name="UnacceptableInitialTerminationTimeFault">
				<soap:fault use="literal"
					name="UnacceptableInitialTerminationTimeFault" />
			</wsdl:fault>
			<wsdl:fault name="SubscribeCreationFailedFault">
				<soap:fault use="literal"
					name="SubscribeCreationFailedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentMessage">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicExpressionDialectUnknownFault">
				<soap:fault use="literal"
					name="TopicExpressionDialectUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<soap:fault use="literal"
					name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<soap:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault name="NoCurrentMessageOnTopicFault">
				<soap:fault use="literal"
					name="NoCurrentMessageOnTopicFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NotificationProducerService">
		<wsdl:port name="JBI" binding="tns:NotificationProducerJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:binding name="NotificationBrokerJBI"
		type="wsn-brw:NotificationBroker">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Notify">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidFilterFault">
				<soap:fault use="literal" name="InvalidFilterFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicExpressionDialectUnknownFault">
				<soap:fault use="literal"
					name="TopicExpressionDialectUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<soap:fault use="literal"
					name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<soap:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault
				name="InvalidProducerPropertiesExpressionFault">
				<soap:fault use="literal"
					name="InvalidProducerPropertiesExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidMessageContentExpressionFault">
				<soap:fault use="literal"
					name="InvalidMessageContentExpressionFault" />
			</wsdl:fault>
			<wsdl:fault
				name="UnacceptableInitialTerminationTimeFault">
				<soap:fault use="literal"
					name="UnacceptableInitialTerminationTimeFault" />
			</wsdl:fault>
			<wsdl:fault name="SubscribeCreationFailedFault">
				<soap:fault use="literal"
					name="SubscribeCreationFailedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentMessage">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicExpressionDialectUnknownFault">
				<soap:fault use="literal"
					name="TopicExpressionDialectUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<soap:fault use="literal"
					name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<soap:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault name="NoCurrentMessageOnTopicFault">
				<soap:fault use="literal"
					name="NoCurrentMessageOnTopicFault" />
			</wsdl:fault>
			<wsdl:fault name="MultipleTopicsSpecifiedFault">
				<soap:fault use="literal"
					name="MultipleTopicsSpecifiedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RegisterPublisher">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<soap:fault use="literal"
					name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<soap:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault name="PublisherRegistrationRejectedFault">
				<soap:fault use="literal"
					name="PublisherRegistrationRejectedFault" />
			</wsdl:fault>
			<wsdl:fault name="PublisherRegistrationFailedFault">
				<soap:fault use="literal"
					name="PublisherRegistrationFailedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 
		<wsdl:operation name="CreatePullPoint">
			<wsdl:input name="CreatePullPointRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CreatePullPointResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnableToCreatePullPoint">
				<soap:fault use="literal"
					name="UnableToCreatePullPoint" />
			</wsdl:fault>
			<wsdl:fault name="PullNotificationNotSupportedFault">
				<soap:fault use="literal"
					name="PullNotificationNotSupportedFault" />
			</wsdl:fault>
		</wsdl:operation>
		 -->
	</wsdl:binding>
	<wsdl:service name="NotificationBrokerService">
		<wsdl:port name="JBI" binding="tns:NotificationBrokerJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:binding name="SubscriptionManagerJBI"
		type="wsn-bw:SubscriptionManager">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Renew">
			<wsdl:input name="RenewRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RenewResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="UnacceptableTerminationTimeFault">
				<soap:fault use="literal"
					name="UnacceptableTerminationTimeFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Unsubscribe">
			<wsdl:input name="UnsubscribeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UnsubscribeResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="UnableToDestroySubscriptionFault">
				<soap:fault use="literal"
					name="UnableToDestroySubscriptionFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubscriptionManagerService">
		<wsdl:port name="JBI" binding="tns:SubscriptionManagerJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:binding name="PausableSubscriptionManagerJBI"
		type="wsn-bw:PausableSubscriptionManager">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Renew">
			<wsdl:input name="RenewRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RenewResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="UnacceptableTerminationTimeFault">
				<soap:fault use="literal"
					name="UnacceptableTerminationTimeFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Unsubscribe">
			<wsdl:input name="UnsubscribeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UnsubscribeResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="UnableToDestroySubscriptionFault">
				<soap:fault use="literal"
					name="UnableToDestroySubscriptionFault" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- === PausableSubscriptionManager specific operations === -->
		<wsdl:operation name="PauseSubscription">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="PauseFailedFault">
				<soap:fault use="literal" name="PauseFailedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ResumeSubscription">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="ResumeFailedFault">
				<soap:fault use="literal" name="ResumeFailedFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PausableSubscriptionManagerService">
		<wsdl:port name="JBI"
			binding="tns:PausableSubscriptionManagerJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:binding name="PublisherRegistrationManagerJBI"
		type="wsn-brw:PublisherRegistrationManager">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="DestroyRegistration">
			<wsdl:input name="DestroyRegistrationRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DestroyRegistrationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="ResourceNotDestroyedFault">
				<soap:fault use="literal"
					name="ResourceNotDestroyedFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PublisherRegistrationManagerService">
		<wsdl:port name="JBI"
			binding="tns:PublisherRegistrationManagerJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:binding name="CreatePullPointJBI"
		type="wsn-bw:CreatePullPoint">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="CreatePullPoint">
			<wsdl:input name="CreatePullPointRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CreatePullPointResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnableToCreatePullPointFault">
				<soap:fault use="literal"
					name="UnableToCreatePullPointFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreatePullPointService">
		<wsdl:port name="JBI" binding="tns:CreatePullPointJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>


	<wsdl:binding name="PullPointJBI" type="wsn-bw:PullPoint">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="GetMessages">
			<wsdl:input name="GetMessagesRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetMessagesResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DestroyPullPoint">
			<wsdl:input name="DestroyPullPointRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DestroyPullPointResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnableToDestroyPullPointFault">
				<soap:fault use="literal"
					name="UnableToDestroyPullPointFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Notify">
            <wsdl:input>
				<soap:body use="literal" />
            </wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PullPointService">
		<wsdl:port name="JBI" binding="tns:PullPointJBI">
			<soap:address
				location="http://servicemix.org/wsnotification" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
