src/main/resources/servicemix-exec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<wsdl:definitions name="servicemix-exec" 
    targetNamespace="http://servicemix.apache.org/exec"
    xmlns:tns="http://servicemix.apache.org/exec"
    xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://servicemix.apache.org/exec"
                xmlns:tns="http://servicemix.apache.org/exec"
                attributeFormDefault="unqualified"
                elementFormDefault="unqualified">
            <xs:element name="execute" type="tns:command"/>
            <xs:complexType name="command">
                <xs:sequence>
                    <xs:element minOccurs="0" name="command" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="executeResponse" type="tns:executeResponse"/>
            <xs:complexType name="executeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="executionData" type="tns:executionData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="executionData">
                <xs:sequence>
                    <xs:element name="endTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="errorData" type="tns:stringBuffer"/>
                    <xs:element name="exitCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="outputData" type="tns:stringBuffer"/>
                    <xs:element name="startTime" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>                
            <xs:complexType final="extension restriction" name="stringBuffer">
                <xs:complexContent>
                    <xs:extension base="tns:abstractStringBuilder">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractStringBuilder">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="execute">
        <wsdl:part name="parameters" element="tns:execute"/>
    </wsdl:message>
    
    <wsdl:message name="executeResponse">
        <wsdl:part name="parameters" element="tns:executeResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="ExecPortType">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:execute"/>
            <wsdl:output message="tns:executeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
</wsdl:definitions>             