src/test/resources/org/apache/servicemix/http/bound-wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://porttype.test" xmlns:tns="http://porttype.test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema targetNamespace="http://porttype.test"
      xmlns="http://www.w3.org/2000/10/XMLSchema">
      <element name="HelloRequest">
        <complexType>
          <all>
            <element name="text" type="string"/>
          </all>
        </complexType>
      </element>
      <element name="HelloResponse">
        <complexType>
          <all>
            <element name="text" type="string"/>
          </all>
        </complexType>
      </element>
      <element name="HelloHeader">
        <complexType>
          <all>
            <element name="id" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  
  <wsdl:message name="InMessage">
    <wsdl:part name="body" element="tns:HelloRequest"/>
    <wsdl:part name="header1" element="tns:HelloHeader"/>
  </wsdl:message>
  <wsdl:message name="OutMessage">
    <wsdl:part name="body" element="tns:HelloResponse"/>
  </wsdl:message>
  <wsdl:portType name="MyConsumerInterface">
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:InMessage"/>
      <wsdl:output message="tns:OutMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="myConsumerBinding" type="tns:MyConsumerInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Hello">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="body"/>
        <wsdlsoap:header use="literal" message="tns:HelloRequest" part="header1"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
