shared-libraries/servicemix-common/src/test/resources/includes/nested-b2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://mycompany.com/nested/types"
	xmlns:tns="http://mycompany.com/nested/types"
	elementFormDefault="qualified">
	<complexType name="car">
		<sequence>
			<element name="color" type="string"></element>
			<element name="make" type="string"></element>
		</sequence>
	</complexType>
</schema>