shared-libraries/servicemix-common/src/test/resources/includes/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://mycompany.com/nested/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NestedExampleService"
	xmlns:typens="http://mycompany.com/nested/types"
	targetNamespace="http://mycompany.com/nested/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://mycompany.com/nested/">
			<xsd:import namespace="http://mycompany.com/nested/types"
				schemaLocation="nested-a1.xsd" />
			<xsd:element name="exampleRequest" type="typens:request"/>
			<xsd:element name="exampleResponse" type="typens:response"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="request">
		<wsdl:part name="parameters" element="tns:exampleRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="response">
		<wsdl:part name="parameters" element="tns:exampleResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ServiceInterface">
		<wsdl:operation name="exampleOperation">
			<wsdl:input message="tns:request" />
			<wsdl:output message="tns:response" />
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:binding name="serviceSOAP" type="tns:ServiceInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="exampleOperation">
			<soap:operation
				soapAction="http://mycompany.com/nested/exampleOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NestedExampleService">
		<wsdl:port binding="tns:serviceSOAP" name="serviceSOAP">
			<soap:address location="http://localhost:8192/nested/" />
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
